@import "normalize";

// Scss. Clearfix Mixin
@mixin cf {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@import "functions";
@import "variables";
@import "colors"; 

html { 
	font-size: calc(14px + 0.5vw);
	margin:0;
	padding:0;
	height:100%;
	background-color: $tigerAmber;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
	min-height: 100vh;
}


.app-container-div {
	display: block;
	background-color: $appleOrange;
	max-width: $maxwidth;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;	
	p {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@include cf;
}


.app-topnav-nav {
	display: block;
	width: 100%;
	background-color: $amber;
	color: $winamp;
	height: $topnavheight;

	.fa {
		color: $winamp;
		text-decoration: none;
	}

	nav {
		display: inline-block;
		padding-top: 0.20*$topnavheight;
		padding-left: 0.20*$topnavheight;
		font-size: 0.6*$topnavheight;
		color: $winamp;
		text-decoration: none;
	}

	nav:nth-child(3){
		float: right;
		position: relative;
		left: -18%; /* or right 50% */
		margin-left: 1.1*$topnavheight;
		padding-left: 0.3*$topnavheight;
		text-align: left;
	}

	nav:nth-child(2){
		float: right;
	}
}

@import "fontsizes";
@import "svgicons"; 
