//@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@import "normalize";

// Scss. Clearfix Mixin
@mixin cf {
	&:after {
		content: " ";
		display: block;
		clear: both;
	}
}

@import "functions";
@import "variables";
@import "colors"; 

html { 
	font-size: calc(16px + 0.5vw);
	font-family: sans-serif;
	margin:0;
	padding:0;
	height:100%;
	background-color: $tigerAmber;
	box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	margin:0;
	padding:0;
	min-height: 100vh;
}

#page-container-div {
	display: block;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	border: 0;
}

.app-container-div {
	display: block;
	background-color: $appleOrange;
	max-width: $maxwidth;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;	
	p {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	@include cf;
}


@import "fontsizes";
@import "topnav";
@import "svgicons"; 
@import "badge"; 
@import "customerslist"; 
@import "searchwithsort";
