<span class="search-with-sort-container">
	<input type="text" name="search" placeholder="&#128270; Search..">
	<a class="fa fa-sort-alpha-asc" aria-hidden="true" href="#"></a>
	<a class="fa fa-sort-alpha-desc" aria-hidden="true" href="#"></a>
</span>