.tab-and-content-container {
    display: block;
    width: calc(100%-2px);
    overflow: hidden;
    
    .tabs-conent-container {
        display: block;
        width: 100%;
        overflow: hidden;
        > .tab-content {
            box-sizing: border-box;
            display: none;
            width: 100%;
            padding: 1rem;
            padding-right: 2rem;
            min-height: 3rem;
        }
    }
    .tab {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
    }
    > label {
        display: inline-block;
        width: calc(25% - 0.22rem);
        font-size: 1.26562rem;
        text-align: center;
        color: lightgray;
        margin: 0;
        padding: 0.2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    @for $i from 1 through 4 {
        .tab:checked:nth-of-type(#{$i}) ~ .tabs-conent-container > .tab-content:nth-child(#{$i}) {
            box-sizing: border-box;
            display: block;
            width: 100%;
            padding: 0;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        .tab:checked:nth-of-type(#{$i}) ~ label:nth-of-type(#{$i}) {
            color: $winamp;
            background-color: $orange;
        }
    }
}
