.svg-icons {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	a {
		display: inline-block;
		background-color: $orange;
		width: calc(25% - 4px);

		overflow: hidden;

		img {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		span {
			display: block;
			width: 100%;
			text-align: center;
			text-decoration: none;
			font-size: 1rem;
			color: $winamp;
			background-color: $amber;
			padding: 0;
			margin: 0;
			padding-top: 5vh;
			padding-bottom: 5vh;
		}

		text-decoration: none;

		&:active {
			background-color: darken($orange,15%);

			span {
				background-color: darken($amber,15%);
			}
		}
	}

	a:nth-child(4n){
		float: right;
	}


	@media all and (orientation: portrait) and (max-width: $maxwidth) {
		a {
			width: calc(50vw - 4px);
		}
		a:nth-child(2n){
			float: right;
		}
	}


	@media all and (orientation: landscape) and (max-width: $maxwidth) {
		a {
			width: calc(25vw - 3px);
		}
	}

}

